<footer class="footer">
    <div class="container d-flex justify-content-between align-items-center py-3">
      <!-- Section Image -->
      <div class="about">
        <img src="assets/toornamentwhite.png" alt="Footer Image" class="footer-image">
      </div>
  
      <!-- Section A Propos -->
      <div class="about-section">
        <h1>A PROPOS</h1>
        <ul class="list-unstyled">
          <li><a routerLink="/presentation" class="footer-link">Présentation</a></li>
          <li><a routerLink="/contact" class="footer-link">Contact</a></li>
        </ul>
      </div>
  
      <!-- Section Réseaux Sociaux -->
      <div class="social-section">
        <h1>Réseaux Sociaux</h1>
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
      </div>
  
      <!-- Section Copyright -->
      <div class="copyright">
        <p>&copy; 2024 Toornament</p>
      </div>
    </div>
  </footer>
  