/* Conteneur principal */
.create-tournament-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-tournament-container h2, .create-tournament-container h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Formulaire */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control[type="date"] {
    padding: 8px;
}

/* Bouton de soumission */
button.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button.btn-primary:hover {
    background-color: #0056b3;
}


/* nav */
.dashboard-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #6BA7E2;
    color: white;
    padding: 20px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .logo {
    width: 100px;
    margin-right: 80px;
  }
  
  .sidebar-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    margin-bottom: 15px;
  }
  
  .sidebar-menu a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .sidebar-menu a.active {
    font-weight: bold;
  }
  
  .sidebar-menu i {
    margin-right: 10px;
  }
  .content {
    flex-grow: 1;
    padding: 30px;
    background-color: #f5f5f5;
    height: calc(100vh - 60px); /* Si votre footer fait 60px de hauteur */
    overflow-y: auto;
  }