<div class="dashboard-container">
  <aside class="sidebar">
    <div class="logo-container">
      <!-- <img src="assets/logo.png" alt="Tournify Logo" class="logo"> -->
      <!-- <h2>Tournify</h2> -->
    </div>
    <nav class="sidebar-menu">
      <ul>
        <li><a routerLink="/admin/users"><i class="fa fa-user"></i> Gestion des Utilisateurs</a></li> <!-- New menu item -->
        <li><a routerLink="/dashboard-admin"><i class="fa fa-trophy"></i> Gestion des Tournois</a></li>
        <li><a routerLink="/admin/teams"><i class="fa fa-users"></i> Gestion des Équipes</a></li>
        <li><a routerLink="/gestion-matchs"><i class="fa fa-life-ring"></i> Matchs & Résultats</a></li>
        <li><a routerLink="/admin/results"><i class="fa fa-bar-chart"></i> Classements équipes/joueurs</a></li>
      </ul>
    </nav>
  </aside>


<main class="content">
<div class="create-team-container">
  <h2>Ajouter une Nouvelle Équipe</h2>
  <form (ngSubmit)="createTeam()">
    <div class="form-group">
      <label>Nom de l'Équipe</label>
      <input type="text" [(ngModel)]="team.nom" name="teamName" required class="form-control">
    </div>
    <div class="form-group">
      <label>Catégorie</label>
      <select [(ngModel)]="team.categorie" name="teamCategory" required class="form-control">
        <option value="Football">Football</option>
        <option value="Basketball">Basketball</option>
        <option value="Handball">Handball</option>
      </select>
    </div>
    <div class="form-group">
      <label>Tournoi</label>
      <select [(ngModel)]="team.tournoiId" name="tournamentId" required class="form-control">
        <option *ngFor="let tournoi of tournois" [value]="tournoi.id">{{ tournoi.nom }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Créer Équipe</button>
  </form>
</div>
</main>
</div>