<div class="home-content container">
    <!-- Section 1 -->
    <div class="content-section row align-items-center my-4">
      <div class="col-md-6 text-section">
        <img src="assets/toornament.png" alt="T" class="T">
        <p class="text-muted">Toornament est un outil en ligne conçu pour faciliter l'organisation de tournois universitaires. Il permet de gérer divers aspects d'un tournoi, tels que l'inscription des équipes, la planification des matchs et la saisie des scores. Toornament propose plusieurs formats de tournoi, comme les poules, les phases éliminatoires ou les matchs simples, avec une interface de planification des matchs.</p>
      </div>
      <div class="col-md-6 image-section">
        <img src="assets/hame.avif" alt="Image 1" class="img-fluid rounded">
      </div>
    </div>


    <!-- Section 3 -->
    <div class="content-section row align-items-center my-4">
      <div class="col-md-6 text-section">
        <h1>Gérez votre prochain tournoi avec Toornament</h1>
        <p class="text-muted">Programmez votre prochain tournoi avec Toornament. <br>Planification simple et rapide <br>Superbe affichage en direct et en continu <br>Page d'inscription en ligne</p>
        <a href="/connexion" class="btn btn-primary">Créer un tournoi</a>
      </div>
      <div class="col-md-6 image-section">
        <img src="assets/tourn.png" alt="Image 3" class="tourn">
      </div>
    </div>
    
    <!-- Section 2 -->
    <div class="content-section row align-items-center my-4 flex-row-reverse">
      <div class="col-md-6 text-section">
        <h1>Votre Tournoi. À votre façon.</h1>
        <p class="text-muted">Toornament propose un grand nombre de formats et de paramètres de tournois qui peuvent gérer n'importe quoi, depuis votre partie du vendredi soir jusqu'à une série de tournois en cours ou un tournoi de plusieurs jours avec de nombreux de participants. <br><br><br><br><br></p>
      </div>
      <div class="col-md-6 image-section">
        <img src="assets/tele.png" alt="tel" class="tele">
      </div>
    </div>
    
    


    <!-- Section Témoignages -->
<div class="testimonial-section">
  <h2 class="testimonial-title">Ce qu'ils en disent</h2>
  <p class="testimonial-subtitle">Découvrez toutes les raisons qui motivent nos clients à nous recommander</p>
  
  <div class="testimonial-container">
    <div class="testimonial-card">
      <p class="testimonial-text">Même une annulation de dernière minute d'une équipe se gère facilement avec Toornament. Investir dans Toornament, c'est moins de stress et plus de souplesse.</p>
      <div class="testimonial-info">
        <img src="assets/lam.jpg" alt="Logo" class="testimonial-logo">
        <div>
          <p class="testimonial-author">Abdou Aziz Lam</p>
          <p class="testimonial-role">Planificateur de compétitions à l'IAM</p>
        </div>
      </div>
    </div>

    <div class="testimonial-card">
      <p class="testimonial-text">Toornament offre un aperçu clair à toutes les personnes présentes sur le site de la compétition. Idéal également pour les organisateurs, car tous les matchs peuvent être planifiés facilement.</p>
      <div class="testimonial-info">
        <img src="assets/bouba.jpg" alt="Logo" class="testimonial-logo">
        <div>
          <p class="testimonial-author">Boubacar Niang</p>
          <p class="testimonial-role">Membre du comité des tournois Universitaires</p>
        </div>
      </div>
    </div>
  </div>
</div>



  </div>
  