<header class="header">
    <div class="container d-flex justify-content-between align-items-center py-2">
      <!-- Logo à gauche -->
      <a routerLink="/" class="logo">
        <img src="assets/toornamentwhite.png" alt="Logo">
      </a>
      
      <!-- Navigation et boutons à droite -->
      <div class="d-flex align-items-center">
        <nav class="nav">
          <ul class="nav-list d-flex mb-0">
            <li class="nav-item"><a routerLink="/" class="nav-link">Accueil</a></li>
            <li class="nav-item"><a routerLink="/presentation" class="nav-link">Présentation</a></li>
            <li class="nav-item"><a routerLink="/fil-actualite" class="nav-link">Fil d'actualité</a></li>
            <li class="nav-item"><a routerLink="/tournois" class="nav-link">Tournois</a></li>
            <li class="nav-item"><a routerLink="/contact" class="nav-link">Contact</a></li>
          </ul>
        </nav>
        <div class="buttons ml-3">
          <button class="btn inscription-btn" routerLink="/inscription">Inscription</button>
          <button class="btn connexion-btn" routerLink="/connexion">Connexion</button>
        </div>
      </div>
    </div>
  </header>
  